/* import css main styles that reduntant  */
@import url("./main.css");
@import url("./login.css");
@import url("./resetPassword.css");
.nav-item a:hover {
  visibility: visible;
  width: 100%;
}
.logo {
  width: 60px;
}

nav {
  background: linear-gradient(to right, #3cd0ff, #f6f6f6);
}

.nav-link {
  color: black;
  text-indent: 25px;
}
.nav-item {
  margin-right: 50px;
  font-size: 20px;
}
.home {
  background-color: #c4e0f9;
  border-radius: 0 0 50px 50px;
}
.welcome-text {
  font-size: 290%;
  margin-left: 5px;
}
.title {
  color: var(--primary-color);
}
.sub-text {
  font-size: 18px;
  font-weight: 100;
  color: var(--primary-color);
  margin-left: 5px;
}
.login-btn {
  background-color: #1c8cf0 !important;
  width: 30%;
  text-transform: capitalize !important;
  border-radius: 13px 0px 13px 13px !important;

  transition: 0.5s;
}
.login-btn:hover {
  background-color: transparent !important;
  border: 1px solid #000000 !important;
  color: #000000;
}

/* service page */

.service {
  background-color: #f6f6f6;
  margin-bottom: 10rem;
}
.service-text {
  color: var(--primary-color);
  font-size: 290%;
  margin-top: 10px;
}
.card-img {
  width: auto;
  height: auto;
  margin-top: 5px;
}

.service-card {
  text-align: center;
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 25px;
  transition: 0.4s;
}

.service-card:hover {
  transform: scale(1.1);
  box-shadow: 22px 18px 15px -2px rgba(0, 0, 0, 0.1);
}
.card-heading {
  font-size: 20px;
  color: #000000;
}
.card-sub-text {
  font-size: 15px;
  color: var(--primary-color);
}
/* contact us */
.contactUs {
  background-color: #c4e0f9;
  border-radius: 50px 50px 0 0;
  margin-top: 50px !important;
}
.contact-text {
  font-size: 290%;
  color: var(--primary-color);
}
.contactUs-card {
  border-radius: 25px;
  background-color: transparent;
  border: none;
}
.contactUs-btn {
  padding: 10px !important;
  background-color: #1c8cf0 !important;
  border-radius: 12px;
  width: 100%;
}
.contactUs-btn:hover {
  background-color: transparent !important;
  border: 1px solid black;
  color: #000000;
}
.contactUs-input {
  background-color: #9bbdf9;
  border-radius: 15px;
}
.icons {
  width: 25px;
  margin-left: 5px;
}
a {
  text-decoration: none;
}
/* google map */
.mapouter {
  height: 240px;
  width: 360px;
  background: #fff;
  margin-top: 15px;
}
.gmap_canvas {
  overflow: hidden;
  height: 240px;
  width: 360px;
}

/* footer */
footer {
  background-color: #6caeff;
  font-size: 15px;
  height: 50px;
  color: #000000;
}
.copy-rigth-text {
  margin-top: 10px;
}
