/* import css main styles that reduntant  */
@import url("./main.css");
.nav-item a:hover {
  visibility: visible;
  width: 100%;
}
.logo {
  width: 60px;
}

nav {
  background: linear-gradient(to right, #3cd0ff, #f6f6f6);
}
.navbar-toggler {
  color: black;
}

.nav-link {
  color: black;
  text-indent: 25px;
}
.nav-item {
  margin-right: 50px;
  font-size: 20px;
}
.home {
  background-color: #c4e0f9;
  border-radius: 0 0 50px 50px;
}
.welcome-text {
  font-size: 290%;
  margin-left: 5px;
}
.title {
  color: var(--primary-color);
}
.sub-text {
  font-size: 18px;
  font-weight: 100;
  color: var(--primary-color);
  margin-left: 5px;
}
.login-btn {
  background-color: #1c8cf0 !important;
  width: 30%;
  text-transform: capitalize !important;
  border-radius: 12px;
  transition: 0.5s;
}
.login-btn:hover {
  background-color: transparent !important;
  border: 1px solid #000000 !important;
  color: #000000;
}

/* service page */

.service {
  background-color: #f6f6f6;
  margin-bottom: 10rem;
}
.service-text {
  color: var(--primary-color);
  font-size: 290%;
  margin-top: 10px;
}
.card-img {
  width: auto;
  height: auto;
  margin-top: 5px;
}

.service-card {
  text-align: center;
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 25px;
  transition: 0.4s;
}

.service-card:hover {
  transform: scale(1.1);
  box-shadow: 22px 18px 15px -2px rgba(0, 0, 0, 0.1);
}
.card-heading {
  font-size: 20px;
  color: #000000;
}
.card-sub-text {
  font-size: 15px;
  color: var(--primary-color);
}
/* contact us */
.contactUs {
  background-color: #c4e0f9;
  border-radius: 50px 50px 0 0;
  margin-top: 50px !important;
}
.contact-text {
  font-size: 290%;
  color: var(--primary-color);
}
.contactUs-card {
  border-radius: 25px;
  background-color: transparent;
  border: none;
}
.contactUs-btn {
  padding: 10px !important;
  background-color: #1c8cf0 !important;
  border-radius: 25px;
  width: 100%;
}
.contactUs-input {
  background-color: #9bbdf9;
  border-radius: 20px;
}
.icons {
  width: 25px;
  margin-left: 5px;
}
a {
  text-decoration: none;
}
/* google map */
.mapouter {
  position: relative;
  height: 240px;
  width: 360px;
  background: #fff;
  margin-top: 15px;
}
.gmap_canvas {
  overflow: hidden;
  height: 240px;
  width: 360px;
}
.gmap_canvas iframe {
  position: relative;
  z-index: 2;
}
/* footer */
footer {
  background-color: #6caeff;
  font-size: 15px;
  height: 50px;
  color: #000000;
}
.copy-rigth-text {
  margin-top: 10px;
}
/* sign in page */
.sign-in-icon {
  width: 25px;
  height: 25px;
  border: none;
}

.modal-dialog-centered {
  margin: auto;
}

.modal-content {
  border-radius: 35px;
  width: 100%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.modal-header {
  border-bottom: none;
  display: flex;
}

.modal-title {
  color: var(--title-color);
  flex: 6;
  text-align: center;
}
.btn-close-top {
  flex: 1;
  background-color: white;
}

.sign-in-icon-close {
  width: 40px;
  height: 40px;
}

.btn-close-top,
.btn-close-top:active,
.btn-close-top:focus {
  border: none !important;
}

.input-group-text-icon {
  border: none;
  border-bottom: 3px var(--border-color) solid;
  background-color: white;
  border-radius: 0%;
}

.form-control-input {
  border: none;
  border-bottom: 3px var(--border-color) solid;
  border-radius: 0%;
}

.form-control-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.eye-icon {
  border-bottom: 3px var(--border-color) solid;
}

.btn-forget-password {
  background-color: white;
  color: black;
  border: none;
  text-decoration: none;
}

.btn-forget-password:hover {
  transform: scale(1.1);
}

.modal-footer {
  border: none;
}

.btn-sign-in {
  width: 100%;
  border-radius: 10px;
}
/* modal overlay*/
.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 0.5s;
}
.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: all 0.5s;
}

/* reset password modal */

.resetPassModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  transition: all 0.5s;
}

.reset-content {
  border-radius: 35px;
  width: 80%;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.reset-modal-title {
  color: var(--title-sub);
  flex: 8;
  text-align: left !important;
  padding-left: 10px;
}

.reset-btn-close {
  background-color: white;
  padding-left: 260px;
}

.reset-icon-close {
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 20px;
}

.reset-btn-close,
.reset-btn-close:active,
.reset-btn-close:focus {
  border: none !important;
}

.reset-body {
  padding: 50px 20px 50px 20px !important;
}

.reset-title {
  color: var(--title-color);
  text-transform: capitalize;
  text-align: center;
}

.input-group-reset {
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding: 20px 20px 0px 20px;
  outline: none;
}

.input-group-para-reset {
  padding: 25px 0 15px 0;
  text-align: center;
}

.email-input-reset {
  text-transform: capitalize;
  width: 100%;
}

.email-input-label-reset {
  width: 100%;
  height: 40px;
}

.email-input-label-reset:focus {
  outline: none;
}

.reset-footer {
  border: none;
  padding: 0%;
  margin-top: 0%;
  padding: 0px 15px 0px 15px;
}

.reset-btn {
  width: 100%;
  text-transform: capitalize;
  margin-top: 10px !important;
  border-radius: 0%;
}
.modal-backdrop.show {
  opacity: 0;
}
