/* reset password modal */

.resetPassModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  transition: all 0.5s;
}

.reset-content {
  border-radius: 35px;
  width: 80%;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.reset-modal-title {
  color: var(--title-sub);
  flex: 8;
  text-align: left !important;
  padding-left: 10px;
}

.reset-btn-close {
  background-color: white;
  padding-left: 260px;
}

.reset-icon-close {
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 20px;
}

.reset-btn-close,
.reset-btn-close:active,
.reset-btn-close:focus {
  border: none !important;
}

.reset-body {
  padding: 50px 20px 50px 20px !important;
}

.reset-title {
  color: var(--title-color);
  text-transform: capitalize;
  text-align: center;
}

.input-group-reset {
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding: 20px 20px 0px 20px;
  outline: none;
}

.input-group-para-reset {
  padding: 25px 0 15px 0;
  text-align: center;
}

.email-input-reset {
  text-transform: capitalize;
  width: 100%;
}

.email-input-label-reset {
  width: 100%;
  height: 40px;
}

.email-input-label-reset:focus {
  outline: transparent !important;
}

.reset-footer {
  border: none;
  padding: 0%;
  margin-top: 0%;
  padding: 0px 15px 0px 15px;
}

.reset-btn {
  width: 100%;
  text-transform: capitalize;
  margin-top: 10px !important;
  border-radius: 0%;
}
.modal-backdrop.show {
  opacity: 0;
}
